.main {
  height: 100vh;
  background-color: rgb(11, 38, 92);
}
.main__block1 {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.message {
  display: block;
  margin: 10px 0;
  color: white;
}
.row {
  width: 20vw;
}
